@model ChatViewModel
@*<link rel="stylesheet" href="~/css/scroll.css">*@
<style>
    #example1{
        background-color: #EEEEEE;
        box-sizing: border-box;
        width: 1350px;
        height: 400px;
        padding: 30px;
        border: 1px solid #000000;
        margin: 10px;
        overflow: auto;
    }
</style>
<div class="container" >
    <ul class="list-group" id="example1">
        @foreach (var item in Model.MessagesBetweenUsers)
        {
            <li id="messagesList" class="list-group-item">
                @if (item.SenderId == TempData["user1"].ToString())
                {
                <li id="user1Sender">
                    <p style="text-align:right">
                        <a href='@Url.Action("ViewOtherProfileByUserName", "Profile",new{userId=@TempData["createdByuser1"]})'>@TempData["createdByuser1"]:</a>
                    </p>
                    @*<p style="text-align:right">@TempData["createdByuser1"]:</p>*@
                    <p id="contentUser1" style="text-align:right">@item.Content</p>
                    <p id="createdOnUser1" style="text-align:right">@item.CreatedOn</p>
                </li>
                }
                else
                {
                    <li id="user2Sender">
                    <p style="text-align:left">
                        <a href='@Url.Action("ViewOtherProfileByUserName", "Profile",new{username=@TempData["createdByuser2"]})'>@TempData["createdByuser2"]:</a>
                    </p>
                    @*<p style="text-align:left">@TempData["createdByuser2"]:</p>*@
                    <p style="text-align:left">@item.Content</p>
                    <p style="text-align:left">@item.CreatedOn</p>
                    </li>
                }
            
            </li>
        }
    </ul>
    <form asp-controller="Message" asp-action="AddNewMessage" method="post">
        
        <div id="messageInput" class="form-group">
            <label asp-for="NewMessageContent">Message:</label>
            <textarea asp-for="NewMessageContent" class="form-control" aria-label="With textarea"></textarea>
            <span asp-validation-for="NewMessageContent" class="small text-danger"></span>
        </div>
        <button type="submit" id="sendButton" class="btn btn-success mt-2">Send a new message</button>
    </form>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>

