@model PostViewModel

<style>
    #example1{
        background-color: #EEEEEE;
        box-sizing: border-box;
        width: 1350px;
        height: 400px;
        padding: 30px;
        border: 1px solid #000000;
        margin: 10px;
        overflow: auto;
    }
    #paragraph{
        font-size: medium;
        font-weight: bold;
        text-align: left;
    }
    #paragraph1{
        font-size: x-small;
    }
    #paragraph2{
        font-size: medium;
    }
</style>
<div class="container" >
    <ul class="list-group" id="example1">
        @foreach (var item in Model.Posts)
        {
            <li class="list-group-item">
                
               <a id=paragraph href='@Url.Action("ViewOtherProfile", "Profile",new{userId=item.UserId})'>@item.Username</a>
               <p id=paragraph1 style ="text-align:left">@item.Date</p>
               <p id=paragraph2 style ="text-align:left">@item.Content</p>
               
            </li>
        }
    </ul>
    
</div>
<form asp-controller="Forum" asp-action="AddPost" method="post">
    <input type="hidden" name="currentTopicTitle" value="@Model.CurrentTopic" />
    <div class="col-6">
        <label asp-for="Content">Post</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="small text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Post</button>
</form>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }




@*<div class="container">
    <div>
       
            @foreach (var post in Model.Posts)
            {
                <p>@post.Username</p>
                <p>@post.Date</p>
                <p>@post.Content</p>
            }

        <form asp-controller="Forum" asp-action="AddPost" method="post">
            <input type="hidden" name="currentTopicTitle" value="@Model.CurrentTopic" />
            <div class="col-6">
                <label asp-for="Content">Post</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mt-2">Post</button>
        </form>
        
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
        }
*@