
@model TopicViewModel

<p align="right">
<button type="submit" class="btn btn-success mt-2" 
onclick="location.href='@Url.Action("CreateNewTopic", "Forum")'")>Add new topic 
</button>
    <button type="submit" class="btn btn-success mt-2"
            onclick="location.href='@Url.Action("GetTopicsToDelete", "Forum")'" )>
        Delete topic
    </button>
</p>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Forum Topics
    </a>
    
    @foreach (var item in Model.Topics)
    {
        @if (item.CommentsCount > 1)
        {
            <a class="list-group-item list-group-item-action" href="@Url.Action("GetAllPosts","Forum", new {title=item.Title})">@item.Title (@item.CommentsCount comments) </a>
        }
        else
        {
            <a class="list-group-item list-group-item-action" href="@Url.Action("GetAllPosts","Forum", new {title=item.Title})">@item.Title (@item.CommentsCount comment) </a>
        }

    }
</div>