@model ShowAdvertismentViewModel

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card" style="border-radius: 1rem;">
            <h1 style="text-align:center">@Model.Title</h1>
          
            <div class="row">
                @for (int i = 0; i < Model.ImageArrays.Count(); i++)
                {
                    var arr = Model.ImageArrays.ToArray();
                    var item = arr[i];
                    var base64 = Convert.ToBase64String(item);
                    var imgSrc = String.Format("data:image/gif/jpeg;base64,{0}", base64);
                    var viewDataName = "imgSrc." + i.ToString();
                    ViewData[viewDataName] = imgSrc;
                }
                @foreach (var item in Model.ImageArrays.Select((value,i)=>new{i,value}))
                {
                    var value = item.value;
                    var index = item.i;
                    var viewDataName = "imgSrc." + index.ToString();
                    
                    var activeImgSrc = ViewData[viewDataName];
                    <div class="col-sm-6">
                        <div class="card border-primary mb-3" style="max-width: 18rem;">
                            <div class="card bg-dark text-white" style="width: 18rem;">
                                <img class="card-img" src="@activeImgSrc" alt="Card image" onclick="enlargeImg()" id="img1"
                                 width="150px" height="250px">
                            </div>
                        </div>
                    </div>
                }
                <button onclick="resetImg()">Reset</button>
               </div>
            
            <h2>Price:@Model.Price BGN</h2>
            <h4 style="text-align:left">@Model.Description</h4>
            <h5 style="text-align:left">
                Created by:<a href='@Url.Action("ViewOtherProfile", "Profile",new{userId=Model.CreatedByUserId})'>@Model.User.UserName</a>
            </h5>
            <h5 style="text-align:right">Created on:@Model.CreatedOn.Date</h5>
            <h5 style="text-align:right">Last updated on:@Model.LastUpdatedOn.Date</h5>
            <button type="submit" class="btn btn-success mt-2" style="float:center;"
                    onclick="location.href='@Url.Action("SendMessage", "Message")'" )>
                Contact owner
            </button>
            @if (@TempData["currentUserId"].ToString()==Model.CreatedByUserId)
            {
                <button id="deleteButton" type="submit" class="btn btn-success mt-2" style="float:center;"
                    onclick="location.href='@Url.Action("DeleteAdvertisment", "Shop",new{createdByUserId=Model.CreatedByUserId,adId=Model.AdvertismentId})'" )>
                    Delete button
                </button>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#deleteButton").on("change", function {
            alert("Are you sure you want to delete?");
        });
    });
</script>

<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>

<script>
    // Get the img object using its Id
    img = document.getElementById("img1");
    // Function to increase image size
    function enlargeImg() {
        // Set image size to 1.5 times original
        img.style.transform = "scale(2.5)";
        // Animation effect
        img.style.transition = "transform 0.25s ease";
    }
    // Function to reset image size
    function resetImg() {
        // Set image size to original
        img.style.transform = "scale(1)";
        img.style.transition = "transform 0.25s ease";
    }
</script>


